body, html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: sans-serif;
    color: #ffff;
    box-sizing: border-box;
}



.navbar {
    display: flex;
    width: 100vw;
    position: fixed ;
    top: 0;
    font-size: larger;
    border-bottom: solid ;
    border-color: #d9d9d9;
    background-color: rgb(100, 64, 19, 0.5); 
    z-index: 999;
    backdrop-filter: blur(2px);
    padding: 0.5%;
    transition: top 0.3s ease;
}

.navbar a :hover{
    color: brown;
    filter: drop-shadow(0 0 10px );
}

.navbar a {
    color: #ffff;
    list-style: none;
    outline: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    transition: 0.3s;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar .logo img {
    width: 50px  ;
}

.navbar li {
    margin: 0 15px;
}

.container1 {
    display: flex;
    margin-right: 20%;
    height: 100%;
}

/* 
.acessos {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
} */



/* .navbar .login {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: solid;
    border-radius: 5px;
    padding: 5%, 10%;
} */

.navbar .botoes button {
    font-size: medium;
    font-weight: 400;
    transition: 0.3s;
    margin: 0 20px;
}

.botoes {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}

.botoes button{
    background-color: transparent;
    color: white;
    border: solid #ffff;
    border-radius: 10px;
    padding: 5px;
    border-width: 2px;
    cursor: pointer;
}

.login span{
    padding: 0 15px;
}

.cadastro span{
    padding: 0 15px;
}

.container-banner img{
    width: 100%;
    height: 100%;
}


.banner-escrita {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    position: absolute;
    top: 250px;
    width: auto;
    height: auto;
    margin-left: 3%;
    z-index: 1;
}

.Informações{
    margin-top: 5%;
    margin-bottom: 5%; 
    font-size: large;
    font-family: Arial, Helvetica, sans-serif
}


.Informações .violao{
     display: flex;
     color: #ffff;
     align-items: center;
}

.Informações .violao img{
    border-radius: 10px;
}

.Informações .violao img{
    cursor: pointer;
    border-radius: 10px;
    margin-left: 13%;
    margin-top: 10%;
}

.Informações .texto-violao{
    width: 50%;
    margin-left: 5%;
}

.Informações .guitarra{
    display: flex;
    color: #ffff;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.guitarra img {
    border-radius: 10px;
    margin-right: 3%;
    margin-top: 3%;
}


.Informações .texto-guitarra{
    width: 50%;
}

.Informações .baixo img{
    border-radius: 10px;
    margin-left: 13%;
    margin-top: 10%;
}

.Informações .baixo{
    display: flex;
    color: #ffff;
    width: 100%;
    
}

.Informações .texto-baixo {
    width: 50%;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    
}

.banner-escrita {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  font-size: larger;
}

.introducao{
    display: flex;
    height: 700px;
}


.texto-intro {
    height: 500px;
    width: 35%;
    margin-top: 10%;
    margin-left: 5%;
    padding-right: 5%;
    border: solid;
    border-width: 1px;
    border-bottom: #d9d9d9;
    border-top: #d9d9d9;
    border-left: #d9d9d9;
} 


.intro{
    width: 100%;
    height: 30%;
    margin-left: 40%;
    font-family: "Kapakana", cursive;
    font-size: 80px;
}

.imagem-tocando {
    margin-left: 5%;
    margin-top: 15%;
}

 footer {
    background-color: #000;
} 


/* .ainda-n-sei {
    height: 700px;
} */

.carousel-container {
    width: 100%; 
    margin: auto;
    overflow: hidden; 
    ;
}

.image-rolando {
    height: 300px;
    display: flex; 
    width: 100%; 
    animation: slide 7s infinite linear; 
}

.image-rolando img {
    border-radius: 30px;
    padding: 0.3%;
    width: 100%; 
    height: 200px;
}

@keyframes slide {
    100% {
        transform: translateX(-30%); 
    }
}

footer{
    height: 400px;
}

.conteudo-footer {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    margin: 0;
    padding: 0px 2vw;
}

.conteudo-footer .topo {
    height: auto;
}

.conteudo-footer .footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-right: 10%;
}

.conteudo-footer .final {
    display: flex;
    margin-top: auto;
    justify-content: end;
    
}

.coluna {
    margin-top: 2%;
    width: 100%;
    margin-bottom: 20px;
}

.coluna h3 {
    color: #f5e9ff;
    margin-bottom: 10px;
    font-weight: normal;
}

.coluna p,
.coluna a {
    font-size: 14px;
    color: #ddd;
    text-decoration: none;
    line-height: 1.6;
    margin: 2px;
}

.coluna a:hover {
    color: white;
    text-decoration: underline;

}

.redes h3 {
    margin-bottom: 10px;
}

.icones img {
    width: 28px;
    margin-left: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.container-copy{
    text-align: center;
    font-size: 14px;
}

