* {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.conteiner {
    display: flex;
    float: right;
    height: 100vh;
    width: 50%;
    background-color: #262626;
    z-index: 999;
}

.acesso{
    background-color: #d9d9d9;
    width: 60%;
    height: 80%;
    margin-left: 20%;
    margin-top: 10%;
    border-radius: 26px;
}

.login span {
    width: 100%;
    font-family: "Kapakana", cursive;
    font-size: 70px;
    margin-left: 35%;
}

.inputs input{
    border: 0;
    outline: none;
    margin-top: 3%;
    padding: 10px; 
    border-radius: 10px ;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.inputs label{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: space-between;
}

.bt-cadastro{
    border: 0;
    outline: none;
    margin-top: 10%;
    font-size: 30px;
    background-color: transparent;
    border: solid #000;
    border-radius: 10px;
    padding: 0 20px;
    border-width: 2px;
    cursor: pointer;
}

.bt-login{
    border: 0;
    outline: none;
    margin-top: 15%;
    font-size: 30px;
    background-color: transparent;
    border: solid #000;
    border-radius: 10px;
    padding: 0 20px;
    border-width: 2px;
    cursor: pointer;
}

.inputs span{
    font-family: "Kapakana", cursive;
    font-size: 40px;
}

.outros-links {
    margin-top: 14%;
    text-align: center;
    padding-bottom: 2vh;
}

.outros-links a {
    color: #ffff;
    text-decoration: none;
}

.outros-links a>span {
    color: #d9d9d9;
    font-weight: 500;
}

/* Cadastro tela */


.conteiner2 {
    display: flex;
    height: 100vh;
    width: 50%;
    background-color: #262626;
    z-index: 999;
}

.cadastro {
    width: 100%;
    font-family: "Kapakana", cursive;
    font-size: 70px;
    margin-left: 30%;
}

.acessoCad{
    background-color: #d9d9d9;
    width: 60%;
    height: 99%;
    margin-left: 20%;
    margin-top: 0.5%;
    border-radius: 26px;
}