* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1c1c1c;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
}

.caixa-pontuacao{
    padding: 2% 2%;
    display: flex;
    width: 100%;
}

.caixa-pergunta {
    font-family: "Kapakana", cursive;
    font-size: 50px;
    margin: 10% 5%;
    width: 500px;
}

.caixa-opcoes{
    margin: 13% 3%;
}

.caixa-opcoes span{
    padding: 2%;
    margin-bottom: 2%;
    border: solid;
    border-radius: 10px;
}

.caixa-botoes{
    margin-left: 15%;
}

.coluna {
    display: flex;
    flex-direction: column;
}

